/TiposColeccionesInterface/build/
/PracticaPaginaWeb/nbproject/private/
/PracticaPaginaWeb/build/
/prueba/nbproject/private/
/prueba/build/
/Practica-DesarrolloWeb/nbproject/private/
/Practica-Spring/nbproject/private/
/Practica-JavaJEE/nbproject/private/
/Practica-BaseDeDatos/nbproject/private/
/Practica-Primer_Pagina/target/
/Practica-Java/target/
/Practica-Proyect-Prueba/target/
/mavenproject1/target/
/Practica-Proyect/target/
/Practica-Metedo-Get-Post/target/
/Practica-RequestDispatcher1/target/
/Adstraccion/build/
/Practica-Interfaces/target/
/Practica-Interfaces-Implementacion/target/
/Practica1/build/
/PracticaPrueba/build/
/ClasesGenericas/build/
/Practica-Project-ventas/nbproject/private/
/Practica-Project-ventas/build/
/PracticaProjectVentas/nbproject/private/
/PracticaProjectVentas/build/
/Practica-pruebas/nbproject/private/
/Practica-pruebas/build/
/CRUP-INSERT/nbproject/private/
/CRUP-INSERT/build/
/CRUP-MVC-JAVA/nbproject/private/
/ProjectVentas/nbproject/private/
/ProjectVentas/build/
/Practica-CRUP-MVC-JAVA/nbproject/private/
/Practica-CRUP-MVC-JAVA/build/
/Practica-Almacen/nbproject/private/
/Practica-Almacen/build/
/Practica-Validdar/nbproject/private/
/Practica-Validdar/build/
/Practica-SoftwareVentas/nbproject/private/
/Practica-SoftwareVentas/build/
/SoftwareVentas/build/
/implementacion/nbproject/private/
/implementacion/build/
/Practica-Implementacion-web/nbproject/private/
/Practica-Implementacion-web/build/
